body{
	background: #f2f2f2;
	font-family: "微软雅黑";
}
/*-----------------------------------------top车牌号-------------------------*/
.top_header{
	width: 100%;
	position: relative;
}
.top_header .top_bg{
	width: 100%;
}
.top_header .car_name{
	width: 4.36rem;
	position: absolute;
	top: 0.8rem;
	left: 50%;
	margin-left: -2.18rem;
	-webkit-box-reflect: below -12px -webkit-linear-gradient(transparent,transparent 40%,rgba(255,255,255,.3));
}
.top_header .car_name .car_bg{
	width: 100%;
}
.top_header .car_name .car_num{
	width: 100%;
	font-size: 0.534rem;
	color: #fff;
	position: absolute;
	top: 0.58rem;
	left: 0;
	text-align: center;
}
/*--------------------------------------车主主要信息--*/
.box ul{
	width: 100%;
	overflow: hidden;
	background: #fff;
}
.box li{
	width: 50%;
	float: left;
	position: relative;
}
.box li .title_img{
	width: 1.59rem;
	margin: 0.4rem auto 0;
}
.box li .text_1{
	width: 3.38rem;
	height: 0.64rem;
	background: url(/files/shoppersonCenter/underline.png) no-repeat bottom;
	background-size: 3.38rem;
	margin: 0.24rem auto 0.64rem;
	text-align: center;
	line-height: 0.64rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*-----------------------------------------------------------------------------灰色分割线*/
.box .split_bar{
	width: 100%;
	height: 0.24rem;
	background: #f2f2f2;
	clear: both;
}
.box li .text_2{
	height: 0.75rem;
	margin: 0.4rem auto;
	text-align: center;
	position: relative;
}
.box li .text_2 span{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
/*--------------------------------------------------------------------------------蓝色箭头*/
.box li .arrow{
	width: 0.5rem;
	position: absolute;
	top: 50%;
	margin-top: -0.25rem;
	right: 0.3rem;
}
/*----------------------------------------------------------------------------蓝色分割线*/
.box li .line{
	border-left: 2px #49c9ff dashed;
	height: 1.3rem;
	position: absolute;
	top: 0.4rem;
	right: -1px;

}
/*--------------------------------------------------------------------------联盟卡包*/
.cards{
	width: 100%;
	/*margin-bottom: 0.4rem;*/
	background: #fff;
}
/*------------------------------------------------------------------------------没有联盟卡时显示*/
.cards .no_card{
	width: 100%;
	text-align: center;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
	display: none;
}
/*------------------------------------------------------------------------------有联盟卡时显示*/
.cards ul{
	width: 100%;
	/*margin-bottom: 2rem;*/
}
.cards ul li{
	width: 100%;
	height: 1.46rem;
	max-height: 146px;
	position: relative;
	overflow: hidden;
	border-bottom: 0.02rem #eaeaea solid;
}
.cards .cards_title{
	height: 1.16rem;
	max-height: 116px;
}
.cards ul li img{
	width: 1.19rem;
	max-width: 119px;
	margin: 0.4rem auto 0px;
}
.cards ul li .cards_left{
	width: 1.66rem;
	max-width: 166px;
	height: 0.68rem;
	max-height: 68px;
	background: #57b6ff;
	border-radius: 0.12rem;
	text-align: center;
	line-height: 0.7rem;
	float: left;
	margin: 0.38rem 0 0 0.64rem;
	color: #fff;
}
.cards ul li .cards_title{
	width: 2.22rem;
	max-width: 166px;
	height: 0.68rem;
	max-height: 68px;
	background: #57b6ff;
	border-radius: 0.12rem;
	text-align: center;
	line-height: 0.7rem;
	float: left;
	margin: 0.38rem 0 0 0.64rem;
	color: #fff;
}
.cards ul li .cards_details{
	width: 2.22rem;
	max-width: 166px;
	height: 0.68rem;
	max-height: 68px;
	background: #57b6ff;
	border-radius: 0.12rem;
	text-align: center;
	line-height: 0.7rem;
	float: left;
	margin: 0.38rem 0 0 0.64rem;
	color: #fff;
}
.cards ul li .cards_right{
	float: right;
	width: 3.8rem;
	height: 0.68rem;
	max-height: 68px;
	line-height: 0.68rem;
	margin: 0.38rem 0.64rem 0 0;
	color: #474646;
	overflow: hidden;
}
.cards ul .cards_fg{
	width: 100%;
	height: 0.24rem;
	max-height: 24px;
	background: #f2f2f2;
}
/*-----------------------------------------------------------------剩余金额*/
.zjje{
	margin: 0 0.64rem;
}
.zjje ul{
	width: 100%;
	overflow: hidden;
}
.zjje ul li{
	width: 50%;
	float: left;
	overflow: hidden;
	margin-top: 0.64rem;
}
.zjje ul li span{
	float: left;
}
.zjje_left{
	color: #57B6FF;
}
.zjje_right{
	color: #474646;
}
/*-----------------------------------------------------------------------退出账号按钮*/
.button_bar{
	width: 3rem;
	max-width: 300px;
	height: 0.98rem;
	max-height: 98px;
	background: #58b5ff;
	text-align: center;
	line-height: 0.98rem;
	margin: 0.64rem auto 0.2rem;
	border-radius: 0.2rem;
}

/*--------------------------------------------------------------------------------车辆品牌的遮罩层*/
.car_brand{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
/*--------------------------------------------------------------------------------当前里程数遮罩层*/
.mileage{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
.mileage .holdder{
	width: 90%;
	height: 7.84rem;
	max-height: 784px;
	background: #fff;
	margin: 2rem auto;
	border-radius: 20px;
	box-shadow: 0px 0px 15px #000;
	position: relative;
}
.mileage .holdder input{
	width: 80%;
	height: 50px;
	outline: none;
	position: absolute;
	top: 1.5rem;
	left: 10%;
	border: 1px #B3B3B3 solid;
	border-radius: 10px;
	text-indent: 0.3rem;
}
/*-------------------------------------------------------------------------取消按钮*/
.mileage .holdder .qx{
	width: 30%;
	height: 1rem;
	max-height: 100px;
	position: absolute;
	left: 10%;
	bottom: 15%;
	background: #58b5ff;
	text-align: center;
	line-height: 1rem;
	border-radius: 10px;
}
/*-------------------------------------------------------------------------确定按钮*/
.mileage .holdder .qd{
	width: 30%;
	height: 1rem;
	max-height: 100px;
	position: absolute;
	right: 10%;
	bottom: 15%;
	background: #58b5ff;
	text-align: center;
	line-height: 1rem;
	border-radius: 10px;
}
.vouchers{
	overflow: hidden;
}






















