<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>联盟卡包</title>
		<link rel="stylesheet" type="text/css" href="../css/weix.css"/>
		<link rel="stylesheet" type="text/css" href="../css/lianMengDetail.css"/>
		<script src="../js/jquery-1.12.1.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="box">
			<!--卡的名字-->
			<div class="card_name font_3">
				洗车卡
			</div>
			<!--Logo-->
			<div class="logo">
				<div class="circle">
					<img src="../img/logo.png"/>
				</div>
			</div>
			<!--店铺名称-->
			<div class="shop_name font_2">
				发售店铺：晶都汽车美容养护中心
			</div>
			<!--消费详情-->
			<div class="cost">
				<ul class="font_1">
					<li class="biaoTou">
						<span class="width_2 height border_1">项目</span>
						<span class="width_3 height border_1 margin_1">店铺</span>
						<span class="width_2 height border_1 margin_1">日期</span>
						<span class="width_1 height border_1 margin_1">次数</span>
					</li>
					<!--<li class="border_2">
						<span class="width_2">洗车</span>
						<span class="width_2 margin_1">店铺一</span>
						<span class="width_2 margin_1">2017-02-04</span>
						<span class="width_1 margin_1">+1</span>
					</li>-->
				</ul>
			</div>
			<!--返回按键-->
			<a class="card_detailed font_3" href="homePage.html">
				返回
			</a>
		</div>
	</body>
	<script src="../js/lianMengDetail.js" type="text/javascript" charset="utf-8"></script>
</html>
