@charset "utf-8";
/* CSS Document */


.margin_auto{margin:0px  auto;}
.by_date{color:#31a3ff;}
.by_name{font-weight:bold;}
.by_center{height:66px;line-height:66px;}
.by_cenulcolor{    color: #565656;}
.margin_auto li{padding:0px  24px;height:334px;line-height:334px;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd}
.by_top{margin-top:30px;}
.by_width{
	color:#fff;
	display:inline-block;
	width:200px;
	height:70px;
	line-height:70px;
	text-align:center;
	border-radius: 10px;
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	}
.by_bgcolorfjj{background:#ff1c3c} /*非常紧急*/
.by_bgcolorjj{background:#ff6f28}  /*紧急*/
.by_bgcolorpt{background:#31a3ff}  /*普通*/
/*Middle*/
.middle{
	width: 100%;
	min-height: 53px;
	margin-top: 13px;
	overflow: hidden;
}
.middle div{
	float: left;
}
/*消费类型*/
/*.middle .left{
	text-indent: 24px;
}*/
/*.middle .center{
	width: 13.42%;
	height: 53px;
	line-height: 53px;
	text-align: center;
	border-radius: 7px;
}*/
.middle .right{
	width: 77%;
	min-height: 53px;
	line-height: 53px;
	box-sizing: border-box;
	padding: 0px 24px 0px 5px;
}
