@charset "utf-8";
/* CSS Document */


/*头部样式*/

.server_center{width:100%;padding-top:24px;height:240px;margin:0 auto;}
.server_cenul{
	margin:0 auto;
	clear: both;  /* 宽度被li撑开*/
    overflow: hidden;
    text-align:center;
    }
.server_cenul li{float:left;width:33%;}
.server_cenul2{width:100%;margin-top:24px;}
.server_cenli{
	height:300px;
	margin:0px 24px;
	overflow: hidden;
	border-radius: 20px;
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -webkit-box-shadow:5px 5px 10px 8px   rgba(101, 101, 101, 0.1);  
     -moz-box-shadow:5px 5px 10px 8px    rgba(101, 101, 101, 0.1);      
     box-shadow:5px 5px 10px 8px    rgba(101, 101, 101, 0.1);    


}

.paixu{
	width:100%;
	height:80px;
	line-height: 80px;
	}
.paixu .px_tree{
	color:#fdad2f;
}
.paixu ul{   
	clear: both;
    overflow: hidden;
    margin:0px auto;
    width:100%;
    margin-top: 10px;
    }
  
.paixu li{
	float:left;
	
	text-align: center;
	width:33%;
	
	}

.marg_server{ margin-left: 30px;}
.yyue{    
	font-size: 32px;
    color: #fff;
    position: relative;
    top: 100px;
    width: 98px;
    height: 98px;
    text-align: center;
    line-height: 98px;
    background: #fdad2f;
    border-radius: 20px 0px 20px 0px;
     -moz-border-radius: 20px 0px 20px 0px;
    -webkit-border-radius: 20px 0px 20px 0px;
    }
    
 .radius_img{
 	border-radius: 0px 0px 0px 20px;
 	-moz-border-radius: 0px 0px 0px 20px;
    -webkit-border-radius: 0px 0px 0px 20px;
 	}   
      
   
.xuaze{   
/*	 display: block;*/
    margin-top:150px;
    margin-left:-105px;
    position: absolute;
    }
 /*   .ser_title{margin-top:30px;}*/
.server_li{float:left;}
/*.server_cenli  span{display: inline-block;}*/
.server_cenli_img{width:280px;}
.server_cenli_img img{width:280px;height:300px;}
.server_font{color:#777777;}
.server_font2{color:#a09f9f;}
.server_an{width:106px;height:52px;
	line-height:104px;
	color:#fff;
	background:#60d4e1;
    border-radius: 15px;
     -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
     
  
}
.server_addr{font-size:24px;}
.server_cenulimg{background:url(../img/duihao1.png) no-repeat ;width:36px;height:36px}
