<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>微营销</title>
		<!--引入CSS-->
		<link rel="stylesheet" type="text/css" href="../../chuangkestyles/ckwx.css"/>
		<link rel="stylesheet" type="text/css" href="../../chuangkestyles/swiper-3.3.1.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../chuangkestyles/CKmicro_marketing/micro_marketing.css"/>
		<!--引入JS-->
		<script src="../../chuangkestyles/jquery-1.12.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../chuangkestyles/layout.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../chuangkestyles/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../chuangkestyles/CKmicro_marketing/micro_marketing.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="wrap">
			<!--title部分-->
			<div class="title">
				<ul class="font_4">
					<li class="border_B r_jk">人·健康</li>
					<li class="margin_L x_aq">行·安全</li>
					<li class="margin_L c_ll">车·靓丽</li>
				</ul>
			</div> <!--title结束-->
			<!--内容部分-->
			<div class="content swiper-container">
				<div class="swiper-wrapper">
					<!--人健康-->
					<div class="swiper-slide">
						<ul class="box">
							<li>
								<img src="../../chuangkefiles/CKmicro_marketing/photo1.png" class="photo"/>
								<div>
									<p class="font_3 product_name">净匠—全净界空气净化器</p>
									<p class="font_1 introduction">为您的车内带来清新自然的空气</p>
									<p class="font_1 price">￥88.88</p>
								</div>
							</li>
							<li>
								<img src="../../chuangkefiles/CKmicro_marketing/photo2.png" class="photo"/>
								<p class="font_2 product_name">净匠—全净界空气净化器</p>
								<p class="font_1 introduction">为您的车内带来清新自然的空气</p>
								<p class="font_1 price">￥88.88</p>
							</li>
							<li>
								<img src="../../chuangkefiles/CKmicro_marketing/photo1.png" class="photo"/>
								<p class="font_2 product_name">净匠—全净界空气净化器</p>
								<p class="font_1 introduction">为您的车内带来清新自然的空气</p>
								<p class="font_1 price">￥88.88</p>
							</li>
						</ul>
					</div>
					<!--行安全-->
					<div class="swiper-slide">
						<ul class="box">
							<li>
								<img src="../../chuangkefiles/CKmicro_marketing/photo1.png" class="photo"/>
								<p class="font_2 product_name">净匠—全净界空气净化器</p>
								<p class="font_1 introduction">为您的车内带来清新自然的空气</p>
								<p class="font_1 price">￥88.88</p>
							</li>
							<li>
								<img src="../../chuangkefiles/CKmicro_marketing/photo2.png" class="photo"/>
								<p class="font_2 product_name">净匠—全净界空气净化器</p>
								<p class="font_1 introduction">为您的车内带来清新自然的空气</p>
								<p class="font_1 price">￥88.88</p>
							</li>
							<li>
								<img src="../../chuangkefiles/CKmicro_marketing/photo1.png" class="photo"/>
								<p class="font_2 product_name">净匠—全净界空气净化器</p>
								<p class="font_1 introduction">为您的车内带来清新自然的空气</p>
								<p class="font_1 price">￥88.88</p>
							</li>
						</ul>
					</div>
					<!--车靓丽-->
					<div class="swiper-slide">
						<ul class="box">
							<li>
								<img src="../../chuangkefiles/CKmicro_marketing/photo1.png" class="photo"/>
								<p class="font_2 product_name">净匠—全净界空气净化器</p>
								<p class="font_1 introduction">为您的车内带来清新自然的空气</p>
								<p class="font_1 price">￥88.88</p>
							</li>
							<li>
								<img src="../../chuangkefiles/CKmicro_marketing/photo2.png" class="photo"/>
								<p class="font_2 product_name">净匠—全净界空气净化器</p>
								<p class="font_1 introduction">为您的车内带来清新自然的空气</p>
								<p class="font_1 price">￥88.88</p>
							</li>
							<li>
								<img src="../../chuangkefiles/CKmicro_marketing/photo1.png" class="photo"/>
								<p class="font_2 product_name">净匠—全净界空气净化器</p>
								<p class="font_1 introduction">为您的车内带来清新自然的空气</p>
								<p class="font_1 price">￥88.88</p>
							</li>
						</ul>
					</div>
				</div> <!--swiper-wrapper结束-->
				<!--分页器-->
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</body>
</html>
