<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>微营销</title>
		<!--引入CSS-->
		<link rel="stylesheet" type="text/css" href="/styles/ckwx.css"/>
		<link rel="stylesheet" type="text/css" href="/styles/swiper-3.3.1.min.css"/>
		<link rel="stylesheet" type="text/css" href="/styles/CKmicro_marketing/micro_marketing.css"/>
		<!--引入JS-->
		<script src="/scripts/jquery-1.12.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/layout.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/CKmicro_marketing/micro_marketing.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="wrap">
			<!--title部分-->
			<div class="title">
				<ul class="font_7">
					<li class="border_B r_jk">人·健康</li>
					<li class="margin_L x_aq">行·安全</li>
					<li class="margin_L c_ll">车·靓丽</li>
				</ul>
			</div> <!--title结束-->
			<!--内容部分-->
			<div class="content swiper-container">
				<div class="swiper-wrapper">
					<!--人健康-->
					<div class="swiper-slide">
						<ul class="box">
							<li>
								<img src="/files/CKmicro_marketing/photo2.png" class="photo"/>
								<p class="font_4 product_name">爱洛汽车空间空调净化剂爱之...</p>
								<p class="font_3 introduction">怡人怡车</p>
								<p class="font_3 price">￥69.0</p>
							</li>
							<li>
								<img src="/files/CKmicro_marketing/photo2.png" class="photo"/>
								<p class="font_4 product_name">爱洛汽车空间空调净化剂活力...</p>
								<p class="font_3 introduction">怡人怡车</p>
								<p class="font_3 price">￥69.0</p>
							</li>
							<li>
								<img src="/files/CKmicro_marketing/photo2.png" class="photo"/>
								<p class="font_4 product_name">爱洛汽车空间空调净化剂本真...</p>
								<p class="font_3 introduction">怡人怡车</p>
								<p class="font_3 price">￥69.0</p>
							</li>
							<li>
								<img src="http://image.duduchewang.cn/CS000/wx/yangche/1497323659971/1497323663413.jpg" class="photo"/>
								<p class="font_4 product_name">净匠汽车空间除醛魔方（全净..）</p>
								<p class="font_3 introduction">怡人怡车</p>
								<p class="font_3 price">￥99.0</p>
							</li>
						</ul>
					</div>
					<!--行安全-->
					<div class="swiper-slide">
						<ul class="box">
							<li>
								<img src="/files/CKmicro_marketing/photo1.png" class="photo"/>
								<p class="font_4 product_name">净匠—全净界空气净化器</p>
								<p class="font_3 introduction">为您的车内带来清新自然的空气</p>
								<p class="font_3 price">￥88.88</p>
							</li>
						</ul>
					</div>
					<!--车靓丽-->
					<div class="swiper-slide">
						<ul class="box">
							<li>
								<img src="/files/CKmicro_marketing/photo2.png" class="photo"/>
								<p class="font_4 product_name">爱洛汽车空间空调净化剂本真...</p>
								<p class="font_3 introduction">怡人怡车</p>
								<p class="font_3 price">￥69.0</p>
							</li>
						</ul>
					</div>
				</div> <!--swiper-wrapper结束-->
				<!--分页器-->
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</body>
</html>
