
/*-----------------------------------------top车牌号-------------------------*/
.top_header{
	width: 100%;
	position: relative;
}
.top_header .top_bg{
	width: 100%;
}
.top_header .car_name{
	width: 4.36rem;
	position: absolute;
	top: 0.8rem;
	left: 50%;
	margin-left: -2.18rem;
	-webkit-box-reflect: below -12px -webkit-linear-gradient(transparent,transparent 40%,rgba(255,255,255,.3));
}
.top_header .car_name .car_bg{
	width: 100%;
}
.top_header .car_name .car_num{
	width: 100%;
	font-size: 0.534rem;
	color: #fff;
	position: absolute;
	top: 0.58rem;
	left: 0;
	text-align: center;
}
/*--------------------------------------车主主要信息--*/
.box ul{
	width: 100%;
	overflow: hidden;
}
.box li{
	width: 50%;
	float: left;
	position: relative;
}
.box li .title_img{
	width: 1.59rem;
	margin: 0.4rem auto 0;
}
.box li .text_1{
	width: 3.38rem;
	height: 0.64rem;
	background: url(../img/personalCenter/underline.png) no-repeat bottom;
	background-size: 3.38rem;
	margin: 0.24rem auto 0.64rem;
	text-align: center;
	line-height: 0.64rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*-----------------------------------------------------------------------------灰色分割线*/
.box .split_bar{
	width: 100%;
	height: 0.24rem;
	background: #f2f2f2;
	clear: both;
}
.box li .text_2{
	height: 0.75rem;
	margin: 0.4rem auto;
	text-align: center;
	position: relative;
}
.box li .text_2 span{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
/*--------------------------------------------------------------------------------蓝色箭头*/
.box li .arrow{
	width: 0.5rem;
	position: absolute;
	top: 50%;
	margin-top: -0.25rem;
	right: 0.3rem;
}
/*----------------------------------------------------------------------------蓝色分割线*/
.box li .line{
	border-left: 2px #49c9ff dashed;
	height: 1.3rem;
	position: absolute;
	top: 0.4rem;
	right: -1px;
	
}
/*--------------------------------------------------------------------------联盟卡包*/
.cards{
	width: 100%;
	margin-top: 0.4rem;
}
.cards .cards_title{
	width: 1.59rem;
	margin: 0 auto;
}
/*------------------------------------------------------------------------------没有联盟卡时显示*/
.cards .no_card{
	width: 100%;
	text-align: center;
	margin-top: 1.6rem;
}
/*------------------------------------------------------------------------------有联盟卡时显示*/
.cards ul{
	width: 100%;
	margin-bottom: 2rem;
}
.cards ul li{
	width: 6.86rem;
	max-width: 686px;
	height: 4.1rem;
	max-height: 410px;
	border-radius: 0.2rem;
	margin: 0.4rem auto;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 10px rgba(85,184,255,0.5);
}
.cards ul li .cards_name{
	width: 100%;
	height: 1rem;
	max-height: 100px;
	background: #58b5ff;
	position: absolute;
	left: 0;
	bottom: 0;
	text-align: center;
	line-height: 1rem;
}
/*-----------------------------------------------------------------条形码*/
.cards ul li .bar_code{
	width: 3.48rem;
	max-width: 348px;
	height: 1.2rem;
	max-height: 120px;
	margin: 0.72rem auto 0px;
	/*background: greenyellow;*/
}
/*-------------------------------------------------------------------条形码数字*/
.cards ul li .bar_num{
	width: 100%;
	text-align: center;
	margin-top: 0.26rem;
	letter-spacing: 0.06rem;
}
/*------------------------------------------------------------------底部按钮*/
.button_bar{
	width: 100%;
	overflow: hidden;
	position: fixed;
	left: 0;
	bottom: 0rem;
	background: #FFFFFF;
}
.button_bar .button_left{
	width: 50%;
	float: left;
	overflow: hidden;
	margin-top: 6px;
	margin-bottom: 0.74rem;
}
.button_bar .button_right{
	width: 50%;
	float: left;
	margin-top: 6px;
	margin-bottom: 0.74rem;
}
/*-----------------------------------------------------------------------了解详情按钮*/
.button_bar .ljxq{
	width: 3rem;
	max-width: 300px;
	height: 0.98rem;
	max-height: 98px;
	text-align: center;
	line-height: 0.98rem;
	border-radius: 0.2rem;
	background: #58b5ff;
	float: right;
	margin-right: 0.43rem;
}
/*----------------------------------------------------------------------卡激活按钮*/

.button_bar .kjh{
	width: 3rem;
	max-width: 300px;
	height: 0.98rem;
	max-height: 98px;
	text-align: center;
	line-height: 0.98rem;
	border-radius: 0.2rem;
	background: #58b5ff;
	margin-left: 0.43rem;
}
/*--------------------------------------------------------------------------------车辆品牌的遮罩层*/
.car_brand{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
/*--------------------------------------------------------------------------------当前里程数遮罩层*/
.mileage{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
.mileage .holdder{
	width: 90%;
	height: 7.84rem;
	max-height: 784px;
	background: #fff;
	margin: 2rem auto;
	border-radius: 20px;
	box-shadow: 0px 0px 15px #000;
	position: relative;
}
.mileage .holdder input{
	width: 80%;
	height: 50px;
	outline: none;
	position: absolute;
	top: 1.5rem;
	left: 10%;
	border: 1px #B3B3B3 solid;
	border-radius: 10px;
	text-indent: 0.3rem;
}
/*-------------------------------------------------------------------------取消按钮*/
.mileage .holdder .qx{
	width: 30%;
	height: 1rem;
	max-height: 100px;
	position: absolute;
	left: 10%;
	bottom: 15%;
	background: #58b5ff;
	text-align: center;
	line-height: 1rem;
	border-radius: 10px;
}
/*-------------------------------------------------------------------------确定按钮*/
.mileage .holdder .qd{
	width: 30%;
	height: 1rem;
	max-height: 100px;
	position: absolute;
	right: 10%;
	bottom: 15%;
	background: #58b5ff;
	text-align: center;
	line-height: 1rem;
	border-radius: 10px;
}

@media only screen and (min-width: 1080px) {
	/*-----------------------------------------------------------------每一张卡*/
	.cards ul{
		margin-bottom: 176px;
	}
	.cards ul li{
		border-radius: 20px;
	}
	/*-------------------------------------------------------------卡的名字*/
	.cards ul li .cards_name{
		line-height: 100px;
		font-size: 42px;
	}
	/*------------------------------------------------------------条形码*/
	.cards ul li .bar_code{
		margin: 72px auto 0px;
	}
	/*-----------------------------------------------------------条形码数字*/
	.cards ul li .bar_num{
		margin-top: 26px;
		font-size: 36px;
		letter-spacing: 6px;
	}
	/*-------------------------------------------------------底部按钮*/
	.button_bar .button_left{
		margin-bottom: 74px;
	}
	.button_bar .button_right{
		margin-bottom: 74px;
	}
	/*-------------------------------------------------------------------------------了解详情按钮*/
	.button_bar .ljxq{
		margin-right: 43px;
		line-height: 98px;
		border-radius: 20px;
	}
	/*--------------------------------------------------------------------------------激活卡按钮*/
	.button_bar .kjh{
		margin-left: 43px;
		line-height: 98px;
		border-radius: 20px;
	}
	
	/*-------------------------------------------------------------------修改里程数中的取消和确定按钮*/
	.mileage .holdder .qx{
		line-height: 100px;
	}
	.mileage .holdder .qd{
		line-height: 100px;
	}
}





















