body{
	background: #e5e5e5;
}
#wrap{
	width: 100%;
	background: #e5e5e5;
}
/*详情信息*/
.detail{
	background: #fafafa;
	box-shadow: 0px 0px 0.04rem rgba(0,0,0,0.5);
	margin: 0.2rem 0.2rem 0;
}
.detail ul{
	width: 96%;
	margin: 0 auto;
}
.detail ul li{
	width: 100%;
	height: 0.95rem;
	line-height: 0.95rem;
	overflow: hidden;
}
.l_l{
	width: 50%;
	float: left;
}
.label{
	color: #505050;
}
.input{
	border: none;
	outline: none;
	color: #959595;
	height: 0.95rem;
	line-height: 0.95rem;
	background: #fafafa;
	font-size: 0.42rem;
}
.width_1{
	width: 2.9rem;
}
.width_2{
	width: 80%;
}
/*身份证*/
.sfz{
	background: #fafafa;
	box-shadow: 0px 0px 0.04rem rgba(0,0,0,0.5);
	margin: 0.2rem 0.2rem 0;
}
.box{
	width: 96%;
	margin: 0 auto;
	overflow: hidden;
}
.titles{
	width: 100%;
	height: 0.95rem;
	line-height: 0.95rem;
	color: #505050;
}
.box ul{
	width: 8.59rem;
	height: 1.85rem;
	margin: 0.2rem auto 1.2rem;
	overflow: hidden;
}
.box ul li{
	width: 2.73rem;
	height: 1.85rem;
	background: #e5e5e5;
	float: left;
	position: relative;
}
.sc{
	width: 0.61rem;
	position: relative;
	top: 0.5rem;
	left: 1.05rem;
}
.text{
	width: 100%;
	color: #fafafa;
	position: absolute;
	bottom: 0.2rem;
	text-align: center;
}
.file{
	width: 2.73rem;
	height: 1.85rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	opacity: 0;
}
.file_img{
	width: 2.73rem;
	height: 1.85rem;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.margin_L{
	margin-left: 0.2rem;
}
/*注册按钮*/
.btn{
	width: 8.51rem;
	height: 1.1rem;
	text-align: center;
	background: #31a3ff;
	color: #fff;
	line-height: 1.1rem;
	margin: 1.08rem auto 0;
	border-radius: 0.2rem;
}
.ht{
	width: 8.51rem;
	margin: 0.48rem auto 0;
	overflow: hidden;
}
.ht span{
	height: 100%;
	line-height: 0.5rem;
	float: right;
	color: #505050;
}
.ht input{
	float: right;
	width: 0.4rem;
}