<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我要进货</title>
		<!--引入CSS-->
		<link rel="stylesheet" type="text/css" href="../../chuangkestyles/ckwx.css"/>
		<link rel="stylesheet" type="text/css" href="../../chuangkestyles/CKpurchase/purchase.css"/>
		<!--引入JS-->
		<script src="../../chuangkescripts/jquery-1.12.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../chuangkescripts/layout.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../chuangkescripts/CKpurchase/purchase.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="wrap">
			<div class="content">
				<!--导航栏-->
				<div class="nav font_4">
					<div class="nav_l">
						<div class="btn_l bacground">
							换货
						</div>
					</div>
					<div class="nav_r">
						<div class="btn_r border">
							进货
						</div>
					</div>
				</div>
				<!--表格问题-->
				<!--表格部分-->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide hh">
						<div class="box">
							<table border="0" cellspacing="0" cellpadding="0" class="font_2">
								<thead>
									<tr>
										<td class="td1">订货日期</td>
										<td class="td2">数量</td>
										<td class="td3">发货日期</td>
										<td class="td4">接收人</td>
										<td class="td5"><span>是否接收</span></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="td1">2017-06-15</td>
										<td class="td2">30000.00</td>
										<td class="td3">2017-06-29</td>
										<td class="td4">淄博远大汽车服务...</td>
										<td class="td5">是</td>
									</tr>
									<tr>
										<td class="td1">2017-06-15</td>
										<td class="td2">30000.00</td>
										<td class="td3">2017-06-29</td>
										<td class="td4">淄博远大汽车服务...</td>
										<td class="td5">是</td>
									</tr>
									<tr>
										<td class="td1">2017-06-15</td>
										<td class="td2">30000.00</td>
										<td class="td3">2017-06-29</td>
										<td class="td4">淄博远大汽车服务...</td>
										<td class="td5">是</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--提示-->
						<!--<div class="ts font_1">
							提示：点击表格对应行可查看详情！
						</div>-->
					</div>
					<!--进货-->
					<div class="swiper-slide jh">
						<div class="box">
							<table border="0" cellspacing="0" cellpadding="0" class="font_2">
								<thead>
									<tr>
										<td class="td1">订货日期</td>
										<td class="td2">数量</td>
										<td class="td3">发货日期</td>
										<td class="td4">接收人</td>
										<td class="td5"><span>是否接收</span></td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="td1">2017-06-15</td>
										<td class="td2">30000.00</td>
										<td class="td3">2017-06-29</td>
										<td class="td4">淄博远大汽车服务...</td>
										<td class="td5">是</td>
									</tr>
									<tr>
										<td class="td1">2017-06-15</td>
										<td class="td2">30000.00</td>
										<td class="td3">2017-06-29</td>
										<td class="td4">淄博远大汽车服务...</td>
										<td class="td5">是</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--提示-->
						<!--<div class="ts font_1">
							提示：点击表格对应行可查看详情！
						</div>-->
					</div>
				</div>  <!--swiper-wrapper结束-->
				<!--分页器-->
				<div class="swiper-pagination"></div>
			</div>
			</div>
		</div>
	</body>
</html>
