<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>评价</title>
		<link rel="stylesheet" type="text/css" href="../css/weix.css"/>
		<link rel="stylesheet" type="text/css" href="../css/xiaoFeiJiLu.css"/>
		<link rel="stylesheet" type="text/css" href="../css/pingJia.css"/>
		<script src="../js/jquery-1.12.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/pingJia.js" type="text/javascript" charset="utf-8"></script>
	 <script language="JavaScript">
    
	
    </script>
	</head>
	<body>
	  <div style="clear:both;    overflow: hidden;">
	  <form name="form" method="post" action="checkAction.jsp" onSubmit="return checkform();">
	
		<ul style="height: 100%;">
			<li>
				<div class="detail_1">
					<!--<div class="top_1 font_2">
						<div class="left_11">
							2017-2-25
						</div>
						<div class="right_11">
							公里数：2638km
						</div>
					</div>
					<div class="middle_1 font_1">
						<div class="left_2">消费项目：</div>
						<div class="right_2" id="xm">
							<div><span>1</span><span>水蜡洗车</span></div>
							
						</div>
						<div style="float: left;margin-top: 29px;">
							<span style="margin-left: 26px;">施工店铺：</span>
							<span>北京经典汽车服务有限公司</span>
						</div>
					</div>
					<div class="bottom_2 font_1">
						
						<div>
							<span style="margin-left: 26px;">施工技师：</span>
							<span>荆兵</span>
						</div>
						<div>
							<span style="margin-left: 26px;">付款方式：</span>
							<span class="red">现金（￥140.00）</span>
							<span style="margin-left: 60px;">单据应收：</span>
							<span class="red">￥140.00</span>
						</div>
						
					</div>-->
					
				 </div>
				 <div class="acvance">
					<!--您的评分-->
						<div class="score font_2">
							<span>您的评分：</span>
							<ul class="xj">
								<li><img src="../img/daohang_18.png"/></li>
								<li><img src="../img/daohang_18.png"/></li>
								<li><img src="../img/daohang_18.png"/></li>
								<li><img src="../img/daohang_18.png"/></li>
								<li><img src="../img/daohang_18.png"/></li>
							</ul>
							
						</div>
						<div class="evaluate">
							<span class="font_2">您的评价：</span>
							<textarea class="pingj"></textarea>
							<ul class="cramer_ul">
							  <li>
								<a href="javascript:;" class="a-upload">
                                   <input type="file" class="filepath" name="" id="">
                                   <img class="img1" src="../img/camera.png"/>                                  
			       	 			   <img src="" class="img2 xing_shi"/>			       	 						

								</a>
							 </li>
							 <li>
								<a href="javascript:;" class="a-upload">
                                   <input type="file" class="filepath" name="" id="">
                                   <img class="img1" src="../img/camera.png"/>                                  
			       	 			   <img src="" class="img2 xing_shi"/>
								</a>
							 </li>	
							 <li>
								<a href="javascript:;" class="a-upload">
                                   <input type="file" class="filepath" name="" id="">
                                   <img class="img1" src="../img/camera.png"/>                                  
			       	 			   <img src="" class="img2 xing_shi"/>
								</a>
							 </li>	
							
						   </ul>
						</div>
						
				   </div>
					<!--底部提交评价-->
				   <div class="sub" id="sub" onclick="subrtate()">
						提交评价
				   </div>
					
				</div>
			</li>
		</ul>
		</form>
	  </div>	
	</body>
</html>
