@charset "utf-8";
/* CSS Document */
img{
	display: block;
}
body{
	width: 1080px;
}
.box{
	width: 95.74%;
	margin: 0 auto;
	position: relative;
}
/*养车信息*/
.card_name{
	width: 100%;
	height: 53px;
	margin: 30px auto 34px;
	text-align: center;
	line-height: 53px;
	color: #505050;
}
/*消息列表*/
.new{
	width: 100%;
	height: 332px;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	border-radius: 20px;
}
.new_box{
	width: 95.74%;
	border-radius: 20px;
	margin: 24px auto 24px;
	
}
/*左边消息*/
.new_left{
	width: 390px;
	height: 284px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	float: left;
}
.img_2{
	height: 55px;
	width: 390px;
	border-radius: 0px 0px 20px 20px;
	overflow: hidden;
	position: absolute;
	-webkit-filter: blur(5px); /* Chrome, Opera */
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);    
    filter: blur(5px);
    bottom: 0px;
}
.img_2 img{
	position: absolute;
	bottom: 0px;
}
.txt{
	height: 55px;
	width: 390px;
	border-radius: 0px 0px 20px 20px;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	text-align: center;
	line-height:55px;
	color: #FFFFFF;
	background: rgba(0,0,0,0.4);
}
/*右边消息*/
.new_right{
	width: 618px;
	height: 260px;
	margin-left: 24px;
	padding-top: 24px;
	float: right;
}
.new_right h2{
	height: 47px;
	width: 100%;
	font-size: 2.25em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.new_right p{
	height: 100px;
	line-height: 50px;
	font-size: 1.8125em;
	color: #575757;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
