<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>我的地盘</title>
		<!--引入CSS-->
		<link rel="stylesheet" type="text/css" href="/styles/ckwx.css"/>
		<link rel="stylesheet" type="text/css" href="/styles/swiper-3.3.1.min.css"/>
		<link rel="stylesheet" type="text/css" href="/styles/CKmy_territory/my_territory.css"/>
		<!--引入JS-->
		<script src="/scripts/jquery-1.12.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/layout.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/CKmy_territory/my_territory.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="wrap">
			<!--title部分-->
			<div class="title">
				<ul class="font_4">
					<li class="">全国门店：<b class="num1">1200</b></li>
					<li class="">本月新增：<b class="num3">15</b></li>
					<li class="">我的门店：<b class="num2">80</b></li>
					<span class="line"></span>
				</ul>
			</div> <!--title结束-->
			<!--表格部分-->
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="box">
							<table border="0" cellspacing="0" cellpadding="0" class="font_2">
								<thead>
									<tr>
										<td class="td1">所属城市</td>
										<td class="td2">门店名称</td>
										<td class="td3">地址</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="td1">济南市</td>
										<td class="td2">怡人怡车</td>
										<td class="td3">高新开发区顺泰高新开发区顺泰</td>
									</tr>
									<tr>
										<td class="td1">淄博市</td>
										<td class="td2">淄博远大汽车服务有限公司</td>
										<td class="td3">高新开发区顺泰高新开发区顺泰</td>
									</tr>
									<tr>
										<td class="td1">济南市</td>
										<td class="td2">怡人怡车</td>
										<td class="td3">高新开发区顺泰高新开发区顺泰</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!--提示-->
						<div class="ts font_1">
							提示：点击表格对应行可查看详情！
						</div>
					</div>
				</div>  <!--swiper-wrapper结束-->
				<!--分页器-->
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</body>
</html>
