<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>创客圈</title>
    <link rel="stylesheet" type="text/css" href="/styles/swiper-3.3.1.min.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/CKchuangkequan/share.css"/>
	<script src="/scripts/jquery-1.12.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/scripts/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/scripts/layout.js" type="text/javascript" charset="utf-8"></script>
	<script src="/scripts/CKchuangkequan/share.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<!--<div class="zhezhao">		
		   <img class="zsimg" src=""/>
   </div>-->
	<!--title部分-->
	<div class="title">
		<ul class="">
			<li class="border_B qw">圈文</li>
			<li class="margin_L wd">我的<span class="num">12</span></li>
		</ul>
	</div> <!--title结束-->
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="conter">
					<div class="conter_seconed conter_css">
						<div class="seconed_p">
							<div class="head_img" style="float:left">
								<img  id="head_img" src="/files/CKchuangkequan/img/touxiang.png"/>
							</div>
							<ul class="seconed_div" style="float:left">
									<li class="li_name" id="li_name"> 李浩生</li>				
									<li class="li_time" >
										<font id="li_time">06-01&nbsp;20:10</font>
									    <font class="li_leibie" id="li_type">但行好事，莫问前程！</font>
									</li>
							</ul>
						</div>
					
						<p class="p_miaos">
							感谢重庆西郊名车装饰美容中心陶总对怡人怡车的肯定和信任，果断加入怡人怡车健康中国行！
						</p>
						<ul class="ul_miaos" id="miaoshu">
							<li><img src="/files/CKchuangkequan/img/fx1.jpg" onclick="fangda(this.src)"/></li>
							<li><img src="/files/CKchuangkequan/img/fx2.jpg" onclick="fangda(this.src)"/></li>
							<li><img src="/files/CKchuangkequan/img/fx3.jpg" onclick="fangda(this.src)"/></li>
							<li><img src="/files/CKchuangkequan/img/fx5.jpg" onclick="fangda(this.src)"/></li>
						</ul>
			
						<div class="plun">
							<span><img class="fengxiang" src="/files/CKchuangkequan/img/fengixnag.png"><font class="lileibie" id="fengxiang">分享</font></span>
							<span><img class="zan" src="/files/CKchuangkequan/img/zan.png"><font class="lileibie" id="zan">攒</font></span>
							<span><img class="ping" src="/files/CKchuangkequan/img/pinglun.png"><font class="lileibie" id="ping">评论</font></span>
						    
						</div>
						
					
					</div>
					
				</div>
				
				<!--每一条-->
				<div class="conter">
					<div class="conter_seconed conter_css">
						<div class="seconed_p">
							<div class="head_img" style="float:left">
								<img  id="head_img" src="/files/CKchuangkequan/img/touxiang.png"/>
							</div>
							<ul class="seconed_div" style="float:left">
									<li class="li_name" id="li_name"> 李浩生</li>				
									<li class="li_time" >
										<font id="li_time">06-01&nbsp;20:10</font>
									    <font class="li_leibie" id="li_type">但行好事，莫问前程！</font>
									</li>
							</ul>
						</div>
					
						<p class="p_miaos">
							感谢九州国际李总对怡人怡车健康中国行的大力支持！我承诺：使用合规、合法的车品，把真诚与健康带给员工与车主！
						</p>
						<ul class="ul_miaos" id="miaoshu">
							<li><img src="/files/CKchuangkequan/img/fx4.jpg" onclick="fangda(this.src)"/></li>
						</ul>
			
						<div class="plun">
							<span><img class="fengxiang" src="/files/CKchuangkequan/img/fengixnag.png"><font class="lileibie" id="fengxiang">分享</font></span>
							<span><img class="zan" src="/files/CKchuangkequan/img/zan.png"><font class="lileibie" id="zan">攒</font></span>
							<span><img class="ping" src="/files/CKchuangkequan/img/pinglun.png"><font class="lileibie" id="ping">评论</font></span>
						</div>
						
					
					</div>
					
				</div>
			</div>
			<div class="swiper-slide">
				<div class="conter">
					<div class="conter_seconed conter_css">
						<div class="seconed_p">
							<div class="head_img" style="float:left">
								<img  id="head_img" src="/files/CKchuangkequan/img/touxiang.png"/>
							</div>
							<ul class="seconed_div" style="float:left">
									<li class="li_name" id="li_name"> 李浩生</li>				
									<li class="li_time" >
										<font id="li_time">06-01&nbsp;20:10</font>
									    <font class="li_leibie" id="li_type">但行好事，莫问前程！</font>
									</li>
							</ul>
						</div>
					
						<p class="p_miaos">				
								今天给一台宾利欧陆做了一次小保养，车主表示非常满意！	！
						</p>
						<ul class="ul_miaos" id="miaoshu">
							<li><img src="/files/CKchuangkequan/img/photo1.png" onclick="fangda(this.src)"/></li>
							<li><img src="/files/CKchuangkequan/img/photo2.png" onclick="fangda(this.src)"/></li>
							<li><img src="/files/CKchuangkequan/img/photo1.png" onclick="fangda(this.src)"/></li>
							<li><img src="/files/CKchuangkequan/img/photo2.png" onclick="fangda(this.src)"/></li>
						</ul>
			
						<div class="plun">
							<span><img class="fengxiang" src="/files/CKchuangkequan/img/fengixnag.png"><font class="lileibie" id="fengxiang">分享</font></span>
							<span><img class="zan" src="/files/CKchuangkequan/img/zan.png"><font class="lileibie" id="zan">攒</font></span>
							<span><img class="ping" src="/files/CKchuangkequan/img/pinglun.png"><font class="lileibie" id="ping">评论</font></span>
						    
						</div>
						
					
					</div>
					
				</div>
			</div>
		</div>
		
		
		<!--分页器-->
		<div class="swiper-pagination"></div>
	</div>
	
	
</body>
</html>