<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>个人中心</title>
		<!--引入CSS-->
		<link rel="stylesheet" type="text/css" href="/styles/ckwx.css"/>
		<link rel="stylesheet" type="text/css" href="/styles/CKpersonal_center/registered.css"/>
		<!--引入JS-->
		<script src="/scripts/jquery-1.12.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/layout.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/CKpersonal_center/registered.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="wrap">
			<div class="detail">
				<ul class="font_6">
					<li>
						<div class="l_l">
							<span class="label">创客姓名</span>
							<input type="text" value="郝有才" name="names" class="input width_1"/>
						</div>
						<div class="l_l">
							<span class="label">创客性别</span>
							<input type="text" value="男" name="sex" class="input width_1"/>
						</div>
					</li>
					<li>
						<div class="l_l">
							<span class="label">创客生日</span>
							<input type="text" value="1989-01-11" name="birthday" class="input width_1"/>
						</div>
						<div class="l_l">
							<span class="label">创客电话</span>
							<input type="text" value="18612948518" name="phone" class="input width_1"/>
						</div>
					</li>
					<li>
						<span class="label">创客密码</span>
						<input type="password" value="1818800008@163.com" name="mailbox" class="input width_2"/>
					</li>
					<li>
						<span class="label">创客邮箱</span>
						<input type="text" value="1818800008@163.com" name="mailbox" class="input width_2"/>
					</li>
					<li>
						<span class="label">微&nbsp;信&nbsp;号</span>
						<input type="text" value="qianchengsijin1234" name="weiX" class="input width_2"/>
					</li>
					<li>
						<span class="label">收货地址</span>
						<input type="text" value="山东省济南市高新区顺泰广场2号楼3层B1" name="add" class="input width_2"/>
					</li>
					<li>
						<span class="label">推&nbsp;荐&nbsp;人</span>
						<input type="text" value="怡人怡车荆总" name="tjr" class="input width_2"/>
					</li>
					<li>
						<span class="label">个性签名</span>
						<input type="text" value="但行好事，莫问前程！" name="gxqm" class="input width_2"/>
					</li>
				</ul>
			</div>
			<!--身份证信息-->
			<div class="sfz font_3">
				<div class="box">
					<p class="titles">身份证信息</p>
					<ul>
						<li>
							<input type="file"  class="file"/>
							<img src="/files/CKpersonal_center/sc.png" class="sc"/>
							<img src="" class="file_img"/>
							<p class="text font_1">正面照片</p>
						</li>
						<li class="margin_L">
							<input type="file"  class="file"/>
							<img src="/files/CKpersonal_center/sc.png" class="sc"/>
							<img src="" class="file_img"/>
							<p class="text font_1">反面照片</p>
						</li>
						<li class="margin_L">
							<input type="file"  class="file"/>
							<img src="/files/CKpersonal_center/sc.png" class="sc"/>
							<img src="" class="file_img"/>
							<p class="text font_1">手持照片</p>
						</li>
					</ul>
				</div>
			</div>
			<!--注册按钮-->
			<div class="btn font_6">注册</div>
			<div class="ht">
				<span class="font_5">我已阅读并接受创客宣言</span>
				<input type="checkbox" name="" id="" value="" checked="checked"/>
			</div>
		</div>
	</body>
</html>
