<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>微课堂</title>
		<!--引入CSS-->
		<link rel="stylesheet" type="text/css" href="/styles/ckwx.css"/>
		<link rel="stylesheet" type="text/css" href="/styles/swiper-3.3.1.min.css"/>
		<link rel="stylesheet" type="text/css" href="/styles/CKmicro_classroom/micro_classroom.css"/>
		<!--引入JS-->
		<script src="/scripts/jquery-1.12.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/layout.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/CKmicro_classroom/micro_classroom.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="wrap">
			<!--title部分-->
			<div class="title">
				<ul class="font_7">
					<li class="border_B kc">课程</li>
					<li class="margin_L xxz">学习中</li>
					<li class="margin_L ywc">已完成</li>
					<li class="margin_L wdsc">我的收藏</li>
				</ul>
			</div> <!--title结束-->
			<!--内容部分-->
			<div class="content swiper-container">
				<div class="swiper-wrapper">
					<!--课程-->
					<div class="swiper-slide">
						<ul class="box">
							<li>
								<img src="/files/CKmicro_classroom/photo1.png" class="photo"/>
								<p class="font_4 product_name">净匠—全净界空气净化器使用方法</p>
								<div class="font_3 p_d">
									<div class="trademark">
										<img src="/files/CKmicro_classroom/logo.png"/>
										<span class="p">测试通过</span>
									</div>
									<div class="date font_3">发布时间：2017-06-10</div>
								</div>
							</li>
							<li>
								<img src="/files/CKmicro_classroom/photo1.png" class="photo"/>
								<p class="font_4 product_name">净匠—全净界空气净化器使用方法</p>
								<div class="font_3 p_d">
									<div class="trademark">
										<img src="/files/CKmicro_classroom/logo.png"/>
										<span class="p">测试通过</span>
									</div>
									<div class="date font_3">发布时间：2017-06-10</div>
								</div>
							</li>
							<li>
								<img src="/files/CKmicro_classroom/photo1.png" class="photo"/>
								<p class="font_4 product_name">净匠—全净界空气净化器使用方法</p>
								<div class="font_3 p_d">
									<div class="trademark">
										<img src="/files/CKmicro_classroom/logo.png"/>
										<span class="p">测试通过</span>
									</div>
									<div class="date font_3">发布时间：2017-06-10</div>
								</div>
							</li>
						</ul>
					</div>
					<!--学习中-->
					<div class="swiper-slide">
						<ul class="box">
							<li>
								<img src="/files/CKmicro_classroom/photo1.png" class="photo"/>
								<p class="font_4 product_name">净匠—全净界空气净化器使用方法</p>
								<div class="font_3 p_d">
									<div class="trademark">
										<img src="/files/CKmicro_classroom/logo.png"/>
										<span class="p">测试通过</span>
									</div>
									<div class="date font_3">发布时间：2017-06-10</div>
								</div>
							</li>
							<li>
								<img src="/files/CKmicro_classroom/photo1.png" class="photo"/>
								<p class="font_4 product_name">净匠—全净界空气净化器使用方法</p>
								<div class="font_3 p_d">
									<div class="trademark">
										<img src="/files/CKmicro_classroom/logo.png"/>
										<span class="p">测试通过</span>
									</div>
									<div class="date font_3">发布时间：2017-06-10</div>
								</div>
							</li>
							<li>
								<img src="/files/CKmicro_classroom/photo1.png" class="photo"/>
								<p class="font_4 product_name">净匠—全净界空气净化器使用方法</p>
								<div class="font_3 p_d">
									<div class="trademark">
										<img src="/files/CKmicro_classroom/logo.png"/>
										<span class="p">测试通过</span>
									</div>
									<div class="date font_3">发布时间：2017-06-10</div>
								</div>
							</li>
						</ul>
					</div>
					<!--已完成-->
					<div class="swiper-slide">
						<ul class="box">
							<li>
								<img src="/files/CKmicro_classroom/photo1.png" class="photo"/>
								<p class="font_4 product_name">净匠—全净界空气净化器使用方法</p>
								<div class="font_3 p_d">
									<div class="trademark">
										<img src="/files/CKmicro_classroom/logo.png"/>
										<span class="p">测试通过</span>
									</div>
									<div class="date font_3">发布时间：2017-06-10</div>
								</div>
							</li>
							<li>
								<img src="/files/CKmicro_classroom/photo1.png" class="photo"/>
								<p class="font_4 product_name">净匠—全净界空气净化器使用方法</p>
								<div class="font_3 p_d">
									<div class="trademark">
										<img src="/files/CKmicro_classroom/logo.png"/>
										<span class="p">测试通过</span>
									</div>
									<div class="date font_3">发布时间：2017-06-10</div>
								</div>
							</li>
							<li>
								<img src="/files/CKmicro_classroom/photo1.png" class="photo"/>
								<p class="font_4 product_name">净匠—全净界空气净化器使用方法</p>
								<div class="font_3 p_d">
									<div class="trademark">
										<img src="/files/CKmicro_classroom/logo.png"/>
										<span class="p">测试通过</span>
									</div>
									<div class="date font_3">发布时间：2017-06-10</div>
								</div>
							</li>
						</ul>
					</div>
					<!--我的收藏-->
					<div class="swiper-slide">
						<ul class="box">
							<li>
								<img src="/files/CKmicro_classroom/photo1.png" class="photo"/>
								<p class="font_4 product_name">净匠—全净界空气净化器使用方法</p>
								<div class="font_3 p_d">
									<div class="trademark">
										<img src="/files/CKmicro_classroom/logo.png"/>
										<span class="p">测试通过</span>
									</div>
									<div class="date font_3">发布时间：2017-06-10</div>
								</div>
							</li>
							<li>
								<img src="/files/CKmicro_classroom/photo1.png" class="photo"/>
								<p class="font_4 product_name">净匠—全净界空气净化器使用方法</p>
								<div class="font_3 p_d">
									<div class="trademark">
										<img src="/files/CKmicro_classroom/logo.png"/>
										<span class="p">测试通过</span>
									</div>
									<div class="date font_3">发布时间：2017-06-10</div>
								</div>
							</li>
							<li>
								<img src="/files/CKmicro_classroom/photo1.png" class="photo"/>
								<p class="font_4 product_name">净匠—全净界空气净化器使用方法</p>
								<div class="font_3 p_d">
									<div class="trademark">
										<img src="/files/CKmicro_classroom/logo.png"/>
										<span class="p">测试通过</span>
									</div>
									<div class="date font_3">发布时间：2017-06-10</div>
								</div>
							</li>
						</ul>
					</div>
				</div> <!--swiper-wrapper结束-->
				<!--分页器-->
				<div class="swiper-pagination"></div>
			</div>
		</div>
	</body>
</html>
