<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>抢地盘</title>
		<!--引入CSS-->
		<link rel="stylesheet" type="text/css" href="/styles/ckwx.css"/>
		<link rel="stylesheet" type="text/css" href="/styles/CKgrab_site/grab_site.css"/>
		<!--引入JS-->
		<script src="/scripts/jquery-1.12.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/layout.js" type="text/javascript" charset="utf-8"></script>
		<script src="/scripts/CKgrab_site/grab_site.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="wrap">
			<div class="detail">
				<ul class="font_6">
					<li>
						<span class="label">门店名称</span>
						<input type="text" value="淄博远大汽车服务有限公司" name="mdmc" class="input width_2"/>
					</li>
					<li>
						<div class="l_l">
							<span class="label">老板姓名</span>
							<input type="text" value="郝有才" name="names" class="input width_1"/>
						</div>
						
					</li>
					<li>
						<div class="l_l">
							<span class="label">老板性别</span>
							<input type="text" value="男" name="sex" class="input width_1"/>
						</div>
					</li>
					<li>
						<div class="l_l">
							<span class="label">老板手机</span>
							<input type="text" value="18612948518" name="phone" class="input width_1"/>
						</div>
						
					</li>
					<li>
						<div class="l_l">
							<span class="label">城市区号</span>
							<input type="text" value="0531" name="csqh" class="input width_1"/>
						</div>
					</li>
					<li>
						<span class="label">门店地址</span>
						<input type="text" value="山东省济南市高新区顺泰广场2号楼3层B1" name="add" class="input width_2"/>
						<img src="/files/CKgrab_site/dt.png" alt="" class="dt"/>
					</li>
					<li>
							<span class="label">经营范围</span>
							<span class="jyfw"><input type="checkbox" name="" id="" value="" /><span>装饰</span></span>
							<span class="jyfw"><input type="checkbox" name="" id="" value="" /><span>美容</span></span>
							<span class="jyfw"><input type="checkbox" name="" id="" value="" /><span>养护</span></span>
							<span class="jyfw"><input type="checkbox" name="" id="" value="" /><span>修理</span></span>
							<span class="jyfw"><input type="checkbox" name="" id="" value="" /><span>改装</span></span>
					</li>
					<li>
						<div class="l_l">
							<span class="label">门店面积</span>
							<input type="text" value="280.7" name="mdmj" class="input width_3"/>
							<span class="label dw">平</span>
						</div>
					</li>
					
				</ul>
			</div><!--基本信息部分-->
			<!--注册按钮-->
			<a href="/Views/CKgrab_site/grab_site2.html"><div class="btn font_4 xyb">下一步</div></a>
		</div>
	</body>
</html>
